---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "../components/Hero.astro";
import { getCollection } from "astro:content";
import Job from "../components/Job.astro";
import Video from "../components/Video.astro";

const jobs = (await getCollection("jobs")).sort(
  (a, b) => b.data.jobStartDate.valueOf() - a.data.jobStartDate.valueOf()
);

const channelId = "UCS0emIw9cgv9RIMowHlq3ng";
const channelURL = encodeURIComponent(
  `https://www.youtube.com/feeds/videos.xml?channel_id=${channelId}`
);
const requestURL = `https://api.rss2json.com/v1/api.json?rss_url=${channelURL}`;

async function fetchData(url: string) {
  const response = await fetch(url);
  const data = await response.json();

  return data.items;
}

const loadVideos = async (url: string) => {
  try {
    const response = await fetchData(url);

    return response;
  } catch (error) {
    console.error(error);
  }
};

interface IVideo {
  thumbnail: string;
  title: string;
  link: string;
}

const videos = await loadVideos(requestURL);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Career</h1>
      {jobs.map((job) => <Job {...job.data} />)}
      <h2>Content creator</h2>
      <p>
        I like to share things I learn on my projects and create content that
        could help other developers.
      </p>
      <p>I share content on:</p>
      <ul>
        <li><img src="/assets/youtube.svg" />Youtube - 3.4k followers</li>
        <li><img src="/assets/tiktok.svg" />Tiktok - 7.8k followers</li>
        <li><img src="/assets/instagram.svg" />Instagram - 4.7k followers</li>
      </ul>
      <div class="video-list">
        {
          videos.map((video: IVideo) => (
            <Video
              thumbnail={video.thumbnail}
              title={video.title}
              link={video.link}
            />
          ))
        }
      </div>
    </main>
    <Footer />
    <style lang="scss"></style>
    <style lang="scss">
      h2 {
        margin-bottom: 3rem;
      }
      ul {
        list-style: none;
        margin-bottom: 3rem;

        li {
          display: flex;
          font-size: 1.6rem;
          align-items: center;
          line-height: 4rem;
          gap: 0.5rem;

          @media (min-width: 768px) {
            font-size: 2rem;
          }

          img {
            max-width: 3rem;
          }
        }
      }
      .video-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        @media (min-width: 768px) {
          grid-template-columns: repeat(3, minmax(100px, 1fr));
        }
      }
    </style>
    <script></script>
  </body>
</html>
