---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { jobLink, jobPlace, jobTitle, jobStartDate, jobStack, jobResponsibilities} = Astro.props;
const formattedJob = jobPlace.toString().toLowerCase()
---

<div class="job mb-20">
  <h2 class="job__place">
    <a href=`${jobLink}`>
        <img class="max-w-72" src=`/assets/${formattedJob}.svg` alt="">
    </a>
  </h2>
  <p class="job__date">{jobStartDate}</p>
  <h3 class="job__title text-4xl font-bold my-8">{jobTitle}</h3>
  <h4 class="text-3xl mb-6 underline font-bold">{t("job.tasksLabel")}</h4>
  <ul class="job__tasks pl-0">
    {jobResponsibilities.map((item: string)=> (
        <li class="leading-10 text-[16px] md:leading-[3rem] before:content-['✅'] before:mr-4">{item}</li>
    ))}
  </ul>
  <ul class="job__stack-list flex list-none gap-2 items-center mt-8">
    {jobStack.map((item: string) => (
        <li><img class="job__stack w-10" src=`/assets/${item}.svg` alt=`${item}` title=`${item}` /></li>
        )
    )}
</ul>
</div>

<style lang="scss">
    
</style>